@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="container">
	<form method="post" name="formPostName" id="formPostIndex">
		<div class="row">
			@*Here I would like to have the placeholder text for the first time but be able to add the selected dateTime when coming from Second page. But having value="" overrides it*@
			<ejs-datetimepicker id="datetimepicker" change="onDateChange"> @* value="Model.IndexPageModel.SomeAwesomeDate" will override the placeholder text *@
				<input type="hidden" id="hiddenDateTimeValueInputId" name="hiddenDateTimeValueInputName" />
			</ejs-datetimepicker>
			<div class="col">
				<input type="text" name="fname" size="100" value="Just some other input to click on and see value in the DateTimePicker change">
			</div>
		</div>
		<div class="form-group">
			<input type="submit" value="Go to SecondPage" class="btn btn-primary" asp- />
		</div>
	</form>
</div>

<script>

	/* Culture code*/
	document.addEventListener('DOMContentLoaded', function () {
		datetimepicker = document.getElementById('datetimepicker').ej2_instances[0];
		var L10n = ej.base.L10n;
		L10n.load({
			'is': {
				'datetimepicker': {
					placeholder: 'Veldu dagsetningu tímans',
					today: 'í dag'
				}
			}
		});
		datetimepicker.locale = 'is';
		loadCultureFiles('is');

	});

	function loadCultureFiles(name) {
		var files = ['ca-gregorian.json', 'numbers.json', 'timeZoneNames.json'];
		if (name === 'ar') {
			files.push('numberingSystems.json');
		}
		var loader = ej.base.loadCldr;
		var loadCulture = function (prop) {
			var val, ajax;
			if (name === 'ar' && prop === files.length - 1) {
				ajax = new ej.base.Ajax(location.origin + location.pathname + '/../../scripts/cldr-data/supplemental/' + files[prop], 'GET', false);
			} else {
				ajax = new ej.base.Ajax(location.origin + location.pathname + '/../../scripts/cldr-data/main/' + name + '/' + files[prop], 'GET', false);
			}
			ajax.onSuccess = function (value) {
				val = value;
			};
			ajax.send();
			loader(JSON.parse(val));
		};
		for (var prop = 0; prop < files.length; prop++) {
			loadCulture(prop);
		}
	}

		function onDateChange(args) {
			Values(args);
		}

    function Values(args) {
        var  option = document.getElementById("hiddenDateTimeValueInputId");
        option.value = "";
        var calendar = (args.type === undefined) ? args : args.type;
        if (calendar.value) {
            option.value = calendar.value.toLocaleString('is-IS', { timeZone: 'UTC' });
        }
            document.getElementById('formPostIndex').appendChild(option);
		}

</script>
