@page
@model Razorpages.Pages.SecondPageModel
@{
	ViewData["Title"] = "SecondPage";
}

<h2>SecondPage to go back to Index with date value</h2>


<div class="container">
	<form method="post">
		<div class="row">
			<div class="col">
				<label asp-for="SomeAwesomeDate" class="control-label"></label> : @Model.SomeAwesomeDate
				<span asp-validation-for="SomeAwesomeDate" class="text-danger"></span>
			</div>

			<div class="w-100"></div>
			<div class="col">
				<div class="form-group">
					<input type="submit" value="Back to FirstPage" class="btn btn-primary cancel" asp-page-handler="BackToPreviousPage" asp- />
				</div>
			</div>
			<div class="w-100"></div>
			<div class="col">
				<div class="form-group">
					<input type="submit" value="Next page" class="btn btn-primary" asp- />
				</div>
			</div>
		</div>
	</form>
</div>
