@page
@model Razorpages.Pages.ThirdPageModel
@{
    ViewData["Title"] = "ThirdPage";
}

<h2>ThirdPage</h2>

<div class="container">
	<form asp-page-handler="BackToIndex" method="post">
		<div class="row">
			<div class="col">
				<label asp-for="SomeAwesomeDate" class="control-label"></label> : @Model.SomeAwesomeDate
			</div>
			<span asp-validation-for="SomeAwesomeDate" class="text-danger"></span>
			<button class="btn btn-default">Back to Index</button>
			<div class="w-100"></div>
			<div class="col">
				<div class="form-group">
					<input type="submit" value="Back to SecondPage" class="btn btn-primary cancel" asp-page-handler="BackToPreviousPage" asp- />
				</div>
			</div>
		</div>
	</form>
</div>